anyio==3.5.0
asgiref==3.5.0
asyncpg==0.25.0
boto3==1.24.67
botocore==1.27.67
click==8.1.2
databases==0.5.5
fastapi==0.75.2
greenlet==1.1.2
h11==0.13.0
idna==3.3
jmespath==1.0.1
psycopg2-binary==2.9.3
pydantic==1.9.0
python-dateutil==2.8.2
s3transfer==0.6.0
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.36
starlette==0.17.1
typing-extensions==4.2.0
urllib3==1.26.12
uvicorn==0.17.6
